.register {
  @include flexbox((
          align-items: center,
          display: flex,
          flex-direction: row,
          justify-content: space-between,
  ));
  margin: 2.5em auto 0;
  width: 1050px;

  @include e(container) {
    display: block;
    width: 42%;

    @include m(link) {
      position: relative;
      &:hover {
        &:before {
          background-color: rgba(#000, 0);
        }
      }
      &:before {
        @include border-radius(4px);
        @include transition(background-color 0.3s ease);
        background-color: rgba(#000, 0.5);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
      }
    }
  }

  @include e(separator) {
    @include user-select(none);
    background-color: $button-background-color;
    border-radius: 50%;
    color: $md-clr-grey-50;
    cursor: default;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    position: relative;
    text-align: center;
    width: 60px;

    &:before {
      @include translateY(-50%);
      border-color: transparent $button-background-color transparent transparent;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      content: "";
      height: 0;
      left: -12px;
      position: absolute;
      top: 50%;
      width: 0;
    }
    &:after {
      @include translateY(-50%);
      border-color: transparent transparent transparent $button-background-color;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      content: "";
      height: 0;
      right: -12px;
      position: absolute;
      top: 50%;
      width: 0;
    }
  }

  @include e(form) {
    @include e(top) {
      @include border-top-radius(4px);
      @include clearfix();
      background-color: $md-clr-grey-800;
      padding: 18px 16px 14px;
      position: relative;

      @include e(title) {
        color: $md-clr-grey-50;
        float: left;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 12px;
        width: 90%;

        small {
          bottom: 1px;
          font-size: 0.8em;
          font-weight: 400;
          position: relative;
        }
      }
      @include e(description) {
        color: $md-clr-grey-100;
        float: left;
        font-size: 1.05em;
        font-weight: 100;
        width: 90%;
      }
      @include e(icon) {
        @include m(alt) {
          width: 10%;
        }
        float: right;
        width: 8.5%;

        @include e(path) {
          fill: $md-clr-grey-100;
        }
      }
    }
    @include e(bottom) {
      @include border-bottom-radius(4px);
      @include clearfix();
      background-color: $bg-color;
      padding: 28px 16px;
      position: relative;
    }
  }
}

.editor {
  @include container;
  margin-top: 2.5em;

  @include e(info) {
    @include border-radius(4px);
    @include span(4 of 12);
    background-color: $bg-color;
    height: 397px;
    overflow: hidden;
  }
  @include e(content) {
    @include border-radius(4px);
    @include span(8 of 12 last);
    background-color: $bg-color;
    height: 397px;
    overflow: hidden;
  }

  @include e(header) {
    @include clearfix();
    background-color: $md-clr-grey-800;
    padding: 18px 16px 14px;
    position: relative;

    @include e(title) {
      color: $md-clr-grey-50;
      float: left;
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 12px;
      width: 80%;

      small {
        bottom: 1px;
        font-size: 0.8em;
        font-weight: 400;
        position: relative;
      }
    }
    @include e(description) {
      color: $md-clr-grey-100;
      float: left;
      font-size: 1.05em;
      font-weight: 100;
      width: 80%;
    }
    @include e(icon) {
      @include m(alt) {
        width: 10%;
      }
      float: right;
      max-width: 40.9px;
      width: 11.696%;

      @include e(path) {
        fill: $md-clr-grey-100;
      }
    }

    @include e(select) {
      height: 41px;
      margin-bottom: 21px;
      padding: 1px 0 1px 10px;
      width: 100%;
      option {
        padding: 10px;
      }
      @include m(smallAfter) {
        margin-bottom: 16px;
      }
    }
  }

  @include e(body) {
    @include clearfix();
    padding: 15px;

    @include e(buttons) {
      text-align: center;
    }
  }

  @include e(main) {
    padding: 15px;
  }

  @include e(controls) {
    @include transition(padding-bottom 0.2s ease);
    background-color: $md-clr-grey-800;
    position: relative;
    text-align: center;
    &:hover {
      padding-bottom: 15px;
      & + .editor__body .form__largeInput--textArea {
        height: 289px - 15px;
        max-height: 289px - 15px;
        min-height: 289px - 15px;
      }
    }

    @include e(separator) {
      background-color: $bg-color;
      display: inline-block;
      height: 30px;
      position: relative;
      top: 2px;
      width: 1px;
    }

    @include e(item) {
      cursor: pointer;
      display: inline-block;
      height: 45px;
      padding: 10px;
      position: relative;
      width: 45px;
      @include transition(background-color 0.2s ease);
      &:hover {
        background-color: darken($md-clr-grey-800, 5%);
        .editor__controls__item__name {
          @include opacity(1);
          @include transition-delay(0.35s);
        }
      }

      @include e(name) {
        @include opacity(0);
        @include transition(opacity 0.2s ease);
        @include transition-delay(0s);
        @include translateX(-50%);
        bottom: -13px;
        color: $md-clr-grey-50;
        font-size: 14px;
        font-weight: 600;
        left: 50%;
        position: absolute;
        white-space: nowrap;
      }
    }
    @include e(icon) {
      height: 25px;
      width: 25px;

      @include m(small) {
        @include scale(0.85);
      }

      @include e(path) {
        fill: $md-clr-grey-50;
      }
    }

  }
}