.form {
  @include e(largeInput) {
    margin-bottom: 21px;
    padding: 10px;
    width: 100%;
    font-family: $ft-family;
    font-size: 14px;
    @include m(noMargin) {
      margin-bottom: 0;
    }
    @include m(smallAfter) {
      margin-bottom: 16px;
    }
    @include m(textArea) {
      @include transition(max-height 0.2s ease, min-height 0.2s ease);
      height: 289px;
      max-height: 289px;
      min-height: 289px;
      resize: none;
    }
  }
  @include e(normalSubmit) {
    background-color: $button-background-color !important;
    border-radius: $button-radius !important;
    color: $md-clr-grey-50 !important;
    padding: 1px 10px 2px !important;
    margin: 0 5px;
  }
  @include e(largeSubmit) {
    background-color: $button-background-color !important;
    border-radius: $button-radius !important;
    color: $md-clr-grey-50 !important;
    display: block;
    margin: 0 auto;
    padding: 1px 11px 2px !important;
    text-align: center;
  }
  @include e(largeLabel) {
    bottom: 3px;
    position: relative;
    @include m(withSmall) {
      bottom: 0;
    }

    small {
      bottom: 3px;
      color: $md-clr-grey-700;
      font-size: 0.82em;
      position: relative;
    }
  }
}

.formWithCaptcha {
  .g-recaptcha {
    @include translateX(-50%);
    display: inline-block;
    left: 50%;
    margin-bottom: 21px;
    position: relative;
  }
}