.nav {
    @include flexbox((
        align-items: center,
        display: flex,
        flex-direction: column,
    ));
    color: $md-clr-grey-50;
    font-family: $ft-family-alt;
    z-index: 1;
    @include b(m) {
        @include container;
    }
    @include b(l) {
        display: block;
    }

    @include e(container) {
        @include transition(background-color 0.5s);
        background-color: mix($md-clr-grey-800, #000, 75%);
        position: fixed;
        width: 100%;
        z-index: 10;

        @include m(cristal) {
            background-color: transparent;
            position: relative;

            .nav__menu__link:hover {
                color: inherit;
            }
        }
    }
    @include e(logo) {
        @include scale(0.75);
        @include transition(transform 0.2s);
        @include user-select(none);
        display: block;
        line-height: 60px;
        position: relative;
        @include b(m) {
            @include scale(1);
        }
        @include b(l) {
            float: left;
        }
        @include m(black) {
            @include filter(grayscale(100%));
            background-color: #000;
            position: relative;
            &:before {
                border-color: transparent transparent #000 transparent;
                border-style: solid;
                border-width: 0 0 75px 50px;
                content: "";
                height: 0;
                left: -50px;
                position: absolute;
                width: 0;
            }
            &:after {
                border-color: #000 transparent transparent transparent;
                border-style: solid;
                border-width: 75px 50px 0 0;
                content: "";
                height: 0;
                position: absolute;
                right: -50px;
                width: 0;
            }
        }

        @include e(image) {
            vertical-align: middle;
        }
        @include e(name) {
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        @include e(dot) {
            font-weight: 100;
            margin-left: -4px;
        }
    }
    @include e(menu) {
        @include flexbox((
            display: flex,
            flex-direction: row,
            flex-wrap: wrap,
            justify-content: center,
        ));
        list-style-type: none;
        margin-bottom: 1em;
        @include b(m) {
            line-height: $button-height;
        }
        @include b(l) {
            float: right;
            line-height: 75px;
            margin-bottom: 0;
        }

        @include e(item) {
            margin: 0 8px;
            &:last-child {
                display: none;
                @include b(m) {
                    display: inline-block;
                }
            }
        }
        @include e(link) {
            @include transition(color 0.2s);
            &:hover {
                color: $button-background-color;
            }
        }
    }
    @include e(spacer) {
        @include transition(min-height 0.2s);
        min-height: 107px;
        @include b(m) {
            min-height: 127px;
        }
        @include b(l) {
            min-height: 75px;
        }
    }
}
